<a href="https://colab.research.google.com/github/kajsanorin/nlp-hackathon/blob/master/spooky_author_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Spooky Author Identification
###In this task we will identify three classical horror fiction authors (Edgar Allan Poe, Mary Shelley, HP Lovecraft) based on sentences they have written.

###Import from numpy, pandas and sklearn - almost all the libraries you need in ML :)

In [0]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import log_loss
from sklearn.svm import LinearSVC
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

###Import data from Github

In [0]:
url = "https://raw.githubusercontent.com/kajsanorin/nlp-hackathon/master/train.csv"
data = pd.read_csv(url)
data.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

###Task 1: Look at the data. (tips: use the pandas head function)

In [0]:
# Your code here

###Task 2: Verify that there are three authors

In [0]:
# Your code here

###Task 3: How many data points do we have?

In [0]:
# Your code here

array(['EAP', 'HPL', 'MWS'], dtype=object)

###Task 4: Make a new column called 'author_encoded' and that represents the authors with integers

In [0]:
# Your code here

In [0]:
data.head()

        id  ... author_encoded
0  id26305  ...              0
1  id17569  ...              1
2  id11008  ...              0
3  id27763  ...              2
4  id12958  ...              1

[5 rows x 4 columns]

###Task 5: Split the data in train and test

In [0]:
X_train, X_test, y_train, y_test = ...

###Make a Tfidf model. Try playing around with

```
ngram_range
strip_accents
min_df
lowercase
```

###Make and train a Support Vector Machine classifier to identify which text strings belong to which author

In [0]:
clf = LinearSVC(random_state=0, tol=1e-5)
clf.fit(transformed_train, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=0, tol=1e-05,
          verbose=0)

In [0]:
transformed_test = tfidf_model.transform(X_test)

###Predict author of the "unknown" sentences

In [0]:
y_pred = clf.predict(transformed_test)

###Let's see how good we are... :)

---



---

In [0]:
from sklearn.metrics import accuracy_score
y_true = y_test
accuracy_score(y_true, y_pred)

0.8398876404494382

In [0]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_true, y_pred)

array([[1342,  105,  123],
       [ 138,  865,   68],
       [ 131,   62, 1082]])